
<% if user_signed_in?%>
<table class="table table-striped table-border table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col">User Id</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="friends">
    <% @friends.each do |friend| %>
    <tr>
      <td>
        <p>
          <%= link_to friend.first_name + ' ' +  friend.last_name, friend %>
        </p>
      </td><td>
        <p>
          <%= friend.email %>
        </p>
      </td><td>
        <p>
          <%= friend.phone %>
        </p>
      </td><td>
        <p>
          <%= friend.twitter %>
        </p>
      </td><td>
        <p>
          <%= friend.user_id %>
        </p>        
      </td>
      <td colspan="2">
        <p>
          <%= link_to "Delete", friend, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </p>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
<% else %>
<div>Please signin</div>
<% end %>